/*
Map generation command: 
uv run ./create_map_poster.py --city "London" --country "United Kingdom" --theme warm_beige --width 1920 --height 1080 --distance 15000
from https://github.com/originalankur/maptoposter
Original folder has been updated to remove the name of the city and the country and the latitude/longitude from the map
*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; // something off white
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: #f8f8f8;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/bg-maps/istanbul-turkey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1;
}

:root {
  --std-radius: 20px;
  --std-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --std-box-height: 160px;
  --box-padding: 12px;
  --link-color: #1a0dab;
  --telegram-color: #0088cc;
  --mobile-breakpoint: 768px;
  --mobile-box-height: 256px;
}
