html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; // something off white
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

:root {
  --std-radius: 20px;
  --std-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --std-box-height: 160px;
  --box-padding: 12px;
  --link-color: #1a0dab;
  --telegram-color: #0088cc;
  --mobile-breakpoint: 768px;
  --mobile-box-height: 256px;
}
